* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: clear sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: black;
}

/* Nav styles */

.nav {
  display: flex;
  flex-direction: column;
  background-color: #e32929;
}

.site-logo {
  font-family: inherit;
  font-size: 32px;
  font-weight: 400;
  padding: 35px 0 0 40px;
  margin-right: auto;
  list-style: none;
  text-decoration: none;
  color: #fff;
  position: fixed;
}

.nav-links {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  list-style: none;
  margin: 60px 0 10px 0;
}

.nav-links li a {
  display: flex;
  padding: 30px;
  margin-top: 20px;
  text-decoration: none;
  color: #fff;
  margin-left: auto;
}

.nav-links li a:hover {
  color: rgb(0, 219, 197);
}

/* Quote component styles */

.quote-style {
  color: #fff;
  font-size: 8px;
  display: flex;
  flex-direction: column;
  margin: 40px 120px 70px 75px;
}

.quote-author {
  font-size: 16px;
}

/* Greeting component styles */

.greet {
  color: #fff;
  font-weight: 600;
  font-size: 36px;
  margin: 0 70px 30px 70px;
  animation: fadeIn 1.25s;
}

/* Task input and button styles */
.container {
  display: flex;
  flex-direction: column;
  margin: 70px 0 40px 55px;
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
}

.task-input {
  color: #fff;
  caret-color: rgb(8, 233, 210);
  outline: none;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #fff 2px;
  text-align: center;
  width: 80%;
  font-size: 16px;
  margin-bottom: 30px;
  background-color: black;
}

.add-task-btn {
  color: #fff;
  background-color: #e32929;
  border-radius: 8px;
  border-style: none;
  width: 80%;
  margin: 20px 0 0 0;
  padding: 25px 25px;
  font-size: 24px;
}

.add-task-btn:hover {
  cursor: pointer;
}

.task-item:hover {
  background-color: #e32929;
  width: fit-content;
  padding: 5px 10px;
  cursor: pointer;
}
.task-item {
  color: white;
  font-size: 24px;

  margin: 50px 0 10px 40px;
}

/* Task list styles */

.list {
  max-height: 700px;
  display: flex;
  flex-direction: column;
  margin: 30px;
}

/* Fade animation for text */

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2.5s;
}

.fade-in-q {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInOpacityQ {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (min-width: 768px) {
  .nav {
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-links {
    flex-direction: row;
    align-items: flex-end;
    margin: 0;
  }
  .container {
    flex-direction: row;
    align-content: space-between;
  }

  .task-input {
    width: 70%;
    margin: 0 30px 30px 0;
    font-size: 24px;
  }
  .add-task-btn {
    padding: 20px 20px;
    margin-bottom: 30px;
    text-align: center;
    width: 200px;
  }

  .task-item {
    margin: 20px 0 20px 40px;
  }
}
