* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: clear sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: black;
}

/* Nav styles */

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.site-logo {
  font-family: inherit;
  font-size: 32px;
  font-weight: 400;
  padding: 35px 0 0 40px;
  margin-right: auto;
  list-style: none;
  text-decoration: none;
  color: rgb(227, 41, 41);
  position: fixed;
}

.nav-links {
  color: #fff;
  display: flex;
  text-decoration: none;
  font-size: 16px;
  list-style: none;
}

.nav-links li a {
  display: flex;
  padding: 30px;
  margin-top: 20px;
  color: #fff;
}

.nav-links li a:hover {
  color: rgb(8, 233, 210);
}

/* Quote component styles */

.quote-style {
  color: #fff;

  font-size: 8px;
  display: flex;
  flex-direction: column;
  margin: 40px 120px 70px 75px;
}

.quote-author {
  font-size: 16px;
}

/* Greeting component styles */

.greet {
  color: #fff;
  font-weight: 600;
  font-size: 36px;
  margin: 0 70px 30px 70px;
  animation: fadeIn 1.25s;
}

/* Task input and button styles */

.task-input {
  color: #fff;
  caret-color: rgb(8, 233, 210);
  font-size: 20px;
  outline: none;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #fff 2px;
  text-align: center;
  display: block;
  width: 70%;
  height: 60px;
  background-color: black;
}

.task-box {
  display: flex;
  flex-direction: row;
  justify-self: flex-start;
  margin: 70px 0 40px 75px;
}

.task-item:hover {
  background-color: #e32929;
  width: fit-content;
  cursor: pointer;
}
.task-item {
  color: white;
  font-size: 24px;
  margin: 0 0 10px 40px;
}

.add-task-btn {
  display: block;
  margin: 0 0 0 50px;
  font-size: 18px;
  color: #fff;
  background-color: #e32929;
  border-radius: 8px;
  padding: 5px 25px;
  border-style: none;
}

.add-task-btn:hover {
  cursor: pointer;
}

/* Task list styles */

.list {
  max-height: 500px;
  display: flex;
  flex-direction: column;
  margin: 30px;
  margin-bottom: 50px;
}

/* Fade animation for text */

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2.5s;
}

.fade-in-q {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInOpacityQ {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
